@import "variables";

h1, h2, h3, h4 {
  font: $header-font;
}

p {
  font-size: .9rem;
  letter-spacing: $bold-spacing;
  line-height: 20px;

  @media #{$medium} {
    font: $body-font;
  }
}

.bold-text {
  font-weight: $bold;
  letter-spacing: $bold-spacing; 
}

h1 {
  font-size: 1.4rem;
  font-weight: $light;

  @media #{$medium}{
    font-size: 2rem;
  }

  @media #{$large} {
    font-size: 3.3rem;
    font-weight: $regular;
    letter-spacing: $large-spacing; 
  }
}

h2 {
  display: flex;
  font-size: 1.9rem;
  font-weight: $regular; 
  justify-content: center;

  @media #{$medium} {
    font-size: 2.9rem;
  }

  @media #{$large} {
    display: block;
    margin-left: 0;
  }
}

h3 {
  font-family: $rift;
  font-size: 1rem;
  font-weight: $regular;
  letter-spacing: $medium-spacing;

  @media #{$medium} {
    font-size: 1.4rem;
  }

  @media #{$large} {
    font-size: 2rem;
    line-height: 35px;
  }
}

.sub-header {
  width: 104%;

    @media #{$large} {
    font-size: 2rem;
    line-height: 45px; 
  }
}

.emphasized-text {
  font-style: italic;
}

//Links
.body__link {
  color: $primary-color;
}

.main-nav__nav-link, .footer__item a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $primary-color;
  }
}

.main-nav__nav-link--current {
  text-decoration: underline;
}

.main-nav__nav-item a {
  font: $header-font;
  font-size: 1.4rem;
  font-weight: $regular;
  letter-spacing: $medium-spacing;
}

.footer__item, .footer__item a{
  font: $body-font;
  font-family: $rift;
  font-weight: $light;
  letter-spacing: $body-spacing;
  margin-right: 10px; 
}