.top-margin-sm {
  margin-top: 35px; 
}

.top-margin-lg {
  margin-top: 100px; 
}

.bottom-margin-sm {
  margin-bottom: 50px
}

.bottom-margin-lg {
  margin-bottom: 20px;

  @media #{$medium} {
    margin-bottom: 100px;
  }
}

.right-margin-sm{
  margin-right: 20px;
}

.left {
  float: left; 
}

.right {
  float: right;
}

.img-percentage {
  justify-content: center;
  justify-items: center;
  margin: 50px auto;
  width: 40%;

  @media #{$medium} {
    width: 60%;
  }

  @media #{$large} {
    margin: 100px auto;
    width: 100%;
  }
}

 .img-percentage-2 {
  justify-content: center;
  justify-items: center;
  margin: 50px auto 10px auto;
  width: 40%;

  @media #{$medium} {
    width: 60%;
  }

  @media #{$large} {
    margin: 100px auto 10px auto;
    width: 100%;
  }
}

.hide {
	display: none;

  @media #{$large} {
    display: block;
  }
}

.no-margin {
  margin: 0;

  @media #{$medium} {
    margin: 50px auto 0px auto;
  }
}