//Font weights
$light: 100;
$regular: 400;
$bold: 600;
$extra-bold: 700;

//Font Color
$primary-color: #F7F7FF;
$grey: #4A4A4A;

//Typography
$rift: rift-soft;
$Merriweather: 'Merriweather';

//Letter spacing
$body-spacing: .25px;
$bold-spacing: 1.2px;
$small-spacing: 2px;
$medium-spacing: 3.45px;
$large-spacing: 5.2px;

//Buttons
$primary-btn-background: #EA526F;
$secondary-btn-background: #C53D57;

//Header Font
$header-font: $bold 16px/1.5 rift-soft, sans-serif;

//Body Font
$body-font: $light 16px/1.5 'Merriweather', serif;

//Medium Screens
$large: "(min-width: 830px)";

//Small Screens
$medium: "(min-width: 520px)";