@import "../base/variables";

.event-box {
  height: 590px;

  @media #{$medium} {
    height: 555px;
    width: 100%; 
  }

  @media #{$large} {
    height: 565px;
  }
}

.event-box__event-image {
  margin-bottom: 25px; 
}

.event-title {
  margin-bottom: 25px; 
}

.event-detail-box {
  height: 80%;
  margin: 0 auto;
  width: 35%;
  
  @media #{$medium} {
    margin-left: 22%;
    width: 55%; 
  }
}

.event-detail {
  margin-bottom: 15px; 
}