@import "../base/variables";

.header__page-title {
  clear: both;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;

  @media #{$medium} {
    margin-left: 20px;
  }

  @media #{$large} {
    justify-content: center; 
    margin-left: 0;
  }
}

.text-wrapper {
  margin: 30px auto; 
  text-align: center;
  width: 40%;

  @media #{$medium} {
    width: 60%;
  }  

  @media #{$large} {
    width: 100%;
  }
}

.cloud-container {
  height: 100px;
  position: relative;
  width: 800px;
  
  @media #{$medium} {
    height: 135px;
  }

  @media #{$large} {
    height: 175px;
  }
}

.cloud-container__cloud1-img {
  margin-top: 7px;
  margin-left: 275px;
  position: absolute; 
  width: 8%;

  @media #{$medium} {
    margin-top: 55px;
    margin-left: 150px; 
    width: auto;
  }
}

.cloud-container__cloud2-img {
  margin-left: 370px;
  margin-top: 65px;
  position: absolute; 
  width: 8%;

  @media #{$medium} {
    margin-left: 395px;
    margin-top: 100px;
    width: auto;
  }
}

.cloud-container__cloud3-img {
  position: absolute; 
  margin-left: 467px;
  margin-top: 16px;
  width: 8%;

  @media #{$medium} {
    margin-left: 580px;
    margin-top: 35px;
    width: auto;
}
}

.tagline-wrapper {
  margin-top: 75px; 
}

.tagline-wrapper__tagline-margin {
  margin-top: 12px; 
}