@import "../base/variables";

.header {
  margin-top: 50px;
}

.nav {
  height: 115px;
  margin-bottom: 50px;
  margin-left: 20px;
  text-align: center;

  @media #{$medium} {
    margin-right: 0;
    text-align: left;
  }
}

.main-nav {
  display: flex;

  @media #{$medium} {
    margin-top: 58px;
  }
  
	@media #{$large} {
	 float: right;
	}
}

.main-nav__nav-item a {
  padding-left: 20px;

  	@media #{$large} {
	   padding-left: 45px;
	}
}


.main-nav__nav-item {
  display: block;
}
